<launch>

  <node pkg="dm_motor_controller" type="dm_motor_node" name="dm_motor_node" output="screen" />


  <node pkg="dm_motor_controller"
        type="motor_zeroing_node"
        name="motor_zeroing_node"
        output="screen"
        required="false"
        launch-prefix="bash -c 'sleep 2; $0 $@'" />
</launch>
